/*Estilos para todos los elementos*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{text-decoration: none;}
li{list-style: none;}
/*Fin de los estilos que aplican para todos los elementos*/

/*Custom Propities*/
:root{
  /*Colores de Google*/
  --color-blue: #1e5fab;
  --color-yellow: #f7b529;
  --color-green: #179c52;
  --color-red: #ec202c;

  /*Otros colores*/
  --color-gray: #bdbdbd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray2: #b4b3a9;

  --border-bottom: 5px;
  --border-container: 2px;
}
/*FIN de las Customs Propities*/


/*Estilos para los elementos principales*/
h1, h2, h3, h4, p, li, a, label, td, th, input{
  font-family: sans-serif;
}
p, li, a{
  color:#2d3436;
}
/*Fin de los estilos principales*/

body{
    background: #f5f5f5;
    min-width: 100vh;
    min-height: 100vh;
}
header img{
    display: block;
    object-fit: cover;
    width: 200px;
    margin: auto;
}

.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
h1{
    font-size: 25px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: var(--color-blue);
}
form{
    display: flex;
    flex-flow: wrap row;
    background: var(--color-white);
    max-width: 500px;
    border-radius: var(--border-container);
    box-shadow: 2px 5px 8px rgba(10, 10, 10, .5);
}
.titleLogin{
    width: 100%;
}
.titleLogin h2{
    font-size: 25px;
    color: var(--color-red);
    text-align: center;
    padding: 5px 0;
}
label{
    width: 80%;
    color: var(--color-red);
}
.message{
    margin: auto;
    width: 80%;
}
.mensajeError{
    letter-spacing: .8px;
    background: var(--color-red);
    color: var(--color-white);
    text-align: center;
    border-radius: var(--border-container);
}
.mensajeSucces{
    border-radius: var(--border-bottom);
    letter-spacing: .8px;
    background: var(--color-green);
    color: var(--color-white);
    text-align: center;
}
.datoForm{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding: 5px;
    width: 100%;
    background: var(--color-white);
}
input{
    background: #e8eaec;
    border: none;
    width: 80%;
    padding: 10px;
    border-radius: var(--border-bottom);
}
.boton{
    font-weight: 700;
    color: var(--color-white);
    background: var(--color-red);
    border-radius: var(--border-bottom);
    width: 78%;
    margin: auto;
    border: none;
    padding: 10px 0;
    margin-top: 25px;
}
form ul{
    width: 100%;
}
form ul li{
    text-align: center;
    padding: 10px;
}
form ul li a{
    color: var(--color-red); 
}

select{
    width: 80%;
    border: none;
    padding: 10px;
}

.contenedor{
    background: var(--color-white);
    margin: auto;
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    padding-bottom: 20px;
    border-radius: var(--border-container);
    box-shadow: 2px 5px 10px rgba(10, 10, 10, .5);
}
.contenedor:nth-child(3),
.contenedor:nth-child(5),
.contenedor:nth-child(7),
.contenedor:nth-child(9){
    flex-flow: row-reverse wrap;
}
.contenedor:nth-child(3) h3,
.contenedor:nth-child(5) h3,
.contenedor:nth-child(7) h3,
.contenedor:nth-child(9) h3{
    order: -1;
}
.contenedor h3{
    width: 100%;
    text-align: center;
    color: var(--color-red);
    padding: 10px 0;
    font-size: 25px;
}
table{
    width: 40%;
    border-collapse:collapse;
    padding: 10px;
    border: 1px solid var(--color-red);
}
tr th{
    color: white;
    background: var(--color-red);
}

tr td{
    border: 1px solid var(--color-red);
    text-align: center;
    padding: 2px;
}
table tr:nth-child(3),
table tr:nth-child(5),
table tr:nth-child(7){
    background: #e8eaec;
}

.centerText{
    text-align: center;
}
.contenedor img{
    border-radius: var(--border-container);
    display: block;
    object-fit: cover;
    width: 40%;
}